.footer {
  height: 70px;
  width: 100%;
  background-color: #7043fe;

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 32px;
  }

  &__wrapper {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
}